html, body {
    width: 100%;
    height: 100%
    margin: 0;
    background-color: #efefef;
    font-family: sans-serif;
}
.content {
    width: 45%;
    text-align: left;
    float: right;
    padding: 10px;
}
.wrapper {
    width: 50%;

    padding: 5px;
    margin: 0 auto;
    background-color: #ddd;
    float: left;
}
.banner {
    height: 20%;
    width: 100%;
}
.banner p {
    float: left;
    display: inline-block;
}
.controls {
    height: 100px;
    margin: 5px 0px;
    position: relative;
}
#historyMsg {
    height: 400px;
    background-color: #fff;
    overflow: auto;
    padding: 2px;
}
#historyMsg img {
    max-width: 99%;
}
.timespan {
    color: #ddd;
}
.items {
    height: 30px;
}
#colorStyle {
    width: 50px;
    border: none;
    padding: 0;
}
/*custom the file input*/

.imageLable {
    position: relative;
}
#sendImage {
    position: absolute;
    width: 52px;
    left: 0;
    opacity: 0;
    overflow: hidden;
}
/*end custom file input*/

#messageInput {
    width: 99%;
    height: 70%;
}
#sayBtn {
    position: 0px;
    width: 100px;
    height: 20px;
}
#sendBtn {
    position: 100px;
    width: 100px;
    height: 20px;
}